body {
  background-color: #f1f1f1;
  /* color: #333; */
  color:#404040;
  /* font-family: verdana, arial, helvetica, sans-serif; */
  font-family: arial, helvetica, verdana, sans-serif;
  /* font-size: 13px; */
  font-size:10pt;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  /* font-size: 13px; */
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  /* font-size: 11px; */ }

a:hover{color:#00438A;}

a {
  color:#0069D6;
  /* color: #000; */
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
    
div#flash_notice{
  background-color:#CAFF70;
  border:1px solid #A2CD5A;
  padding:5px;
}

h1{
  color:#333;
  font-size:30px;
  line-height:36px;
}

div#wrapper{
  background-color:white;
  border-radius:3px;
  box-shadow:0 0 10px #666;
  margin:0 auto;
  overflow:hidden;
  padding:20px;
  width:800px;
}

/* http://webdesignerwall.com/tutorials/css3-dropdown-menu */
#nav{
  display:inline;
  float:left;
  margin:10px 0 20px 0;
  padding:7px 6px 0;
  background-color:#333;
  line-height:100%;
  /* border-radius:2em; */
  width:100%;
}

#nav li{
  margin:0 5px;
  padding:0 0 8px;
  float:left;
  position:relative;
  list-style:none;
}

#nav li a{
  font-weight:bold;
  color:#e7e5e5;
  text-decoration:none;
  display:inline-block;
  padding:8px 20px;
  margin:0;
  text-shadow:0 1px 1px rgba(0,0,0, .3);
}

#nav li a:hover{
  background-color:#1874CD;
  border-radius:2em;
  color:white;
}

div#content{
  background-color:white;
}

table{
  border-collapse:collapse;
  width:100%;
}

table.listing td, table.listing th, table#invoice_items th, table#invoice_items td{
  border:1px solid #DDD;
  padding:8px;
  text-align:left;
}

table.listing th, table#invoice_items th{
  /* background-color:#1874CD; */
  color:#333;
  font-weight:bold;
}

table.listing td{
}

table#invoice_items{
}

table#invoice_items th, table#invoice_items td{
}

table#invoice_items th{
}

table#invoice_items td{
}

table#invoice_items td select{
  background-color:white;
  border:0;
  font-size:10pt;
  padding:2px;
}

input[type="select"], input[type="password"], textarea, select{
  border-top:1px solid #ABADB3;
  border-right:1px solid #DBDFE6;
  border-bottom:1px solid #E3E9EF;
  border-left:1px solid #E2E3EA;
}

select{
  padding:2px;
  background:white;
}

table#invoice{
  border:1px solid #E1E1E1;
  box-shadow:2px 2px 4px rgba(0,0,0,0.15);
  clear:both;
  color:black;
}

table#line_items{
}

table#invoice td, table#invoice th{
  padding:5px;
  text-align:left;
}

table#line_items th, table#line_items td{
  border:1px solid #DDD;
  padding:5px;
  text-align:left;
}

table#line_items th.first{border-left:1px solid #C7C7C7;}
table#line_items th.last{border-right:1px solid #C7C7C7;}
table#line_items tr.totals{border-top:solid 3px #E3E3E3;}
table#line_items th{
  background-color:#E3E3E3;
  border-top:1px solid #C7C7C7;
  border-bottom:1px solid #C7C7C7;
  vertical-align:top;
}

table#invoice th, table#line_items th{
  font-weight:bold;
}


input.qty, input.cost{
  background-color:white;
  border:0;
  font-size:10pt;
  padding:2px;
  width:50px;
}

.label_bold{
  font-weight:bold;
}
