body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
    
div#flash_notice{
  background-color:#CAFF70;
  border:1px solid #A2CD5A;
  padding:5px;
}


table{
  border-collapse:collapse;
}

table.listing td, table.listing th{
  padding:5px;
  text-align:left;
}

table.listing th{
  background-color:#1874CD;
  color:white;
}

table.listing td{
  border-bottom:1px solid #CCC;
}

table#invoice_items th, table#invoice_items td{
  padding:5px;
}

table#invoice_items th{
  background-color:#1874CD;
  color:white;
}

table#invoice_items td{
  border:1px solid #CCC;
}

table#invoice_items td select{
  background-color:white;
  border:0;
  font-size:12pt;
  padding:2px;
}

input.qty{
  background-color:white;
  border:0;
  font-size:12pt;
  padding:2px;
  width:40px;
}
